<h1>welcome to sign up page</h1>
<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%=  form_for(@user) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  <%= f.submit 'sign up' %>
<% end %>